/***********Imports***********/

@import url(http://fonts.googleapis.com/css?family=Armata);
@import url(http://fonts.googleapis.com/css?family=Aldrich);
@import url(http://fonts.googleapis.com/css?family=Nova+Square);

/***********Reset CSS***********/

*{border: 0; padding: 0; margin: 0; list-style: none; text-decoration: none}

html {background:#fff}

body{letter-spacing: 1px; line-height: 170%; font-family: 'Aldrich', 'Armata', Monaco, Menlo, Consolas, Helvetica, Verdana, sans-serif}

h1, h2, h3, h4, h5, h6, p, a{color:#333; font-weight:normal}

a:hover{color: #38628B; text-decoration: none}

p{font-size: 14px; line-height: 160%; margin-bottom: 10px} 

span{font-weight: bold}

/***********Define um comportamento padrão para as divs que separa cada sessão horizontal***********/

.container{width:100%; margin:0; height:auto; position: relative; float: left}

/***********Define o comportamento da área que recebe o conteúdo***********/

.content{width:960px; margin:0 auto; padding: 20px 0; overflow: hidden; height:100%; position: relative}

/***********Posiciona a logo***********/

#logo{margin-top: 10px}

/***********Configurações do topo, logo e menu***********/

header{position:relative; background: #2F4A6F; width: 100%; height: 100%; float: left; margin: 0; padding:0; border-bottom: solid 2px #BDC3C7}

header nav{width:960px; height:auto; padding: 0; margin: 0 auto}

header nav>a{float:left}

header nav>ul{width: auto; margin: 0; padding: 0; float: right}

header nav>ul>li{float:left; list-style: none; padding:0; margin: 0}

header nav>ul>li>a{font-size:15px; color:#fff; font-weight:200; text-decoration: none; text-transform: uppercase; margin: 0; padding: 20px; line-height: 170%; display: block}

header nav>ul>li>a:hover{color:#fff; background:#38628B}

/***********Comportamento e configurações do corpo da página***********/

#featured{position: relative}

#featured .content{padding: 50px 0}

#featured h1{font-size: 65px; color:#2F4A6F; line-height: 170%; text-align: center; vertical-align: middle; font-family: 'Nova Square'; padding: 20px 0px 50px 0px} 

#main{position: relative; height: auto}

#main p{line-height:350%}

#detail{position: relative; height: auto}

#detail h2{font-size: 45px; color:#2F4A6F; line-height: 170%; text-align: center; vertical-align: middle; font-family: 'Nova Square'; padding: 50px 0px 50px 0px}

#detail p{line-height:400%; font-size: 20px; text-align: center; vertical-align: middle}

/***********Comportamento do rodapé***********/

#footer{bottom:-200px; position: absolute; padding-bottom: 100px; background: #2F4A6F; height: 50px}

footer{background: #2F4A6F; border-top: solid 1px #BDC3C7; height: 100px}

footer p{color: #FFF}

footer a{color: #FFF}

footer a:hover{color: #BDC3C7}

footer span{float: right}

/***********Comportamento dos formulários***********/

#inscription{padding: 30px 0px 30px 60px}

#form{position: relative; height: auto}

#form h2{font-size: 25px; color:#000; font-weight: bold; font-family: 'Nova Square'}

form{padding-top: 40px; padding-bottom: 40px}

fieldset{border: solid 2px #000; border-radius: 15px}

form fieldset table{border: 0px}

form fieldset table tr{height: 40px}

form fieldset table tr td{width: 150px}

#id_phone_0{padding: 0px 20px 0px 20px;border: solid 2px #000; border-radius: 5px; width: 60px; height: 30px; padding-right: 10px; font-size: 14px; font-family: 'Aldrich', 'Armata', Monaco, Menlo, Consolas, Helvetica, Verdana, sans-serif}

#id_phone_1{padding: 0px 20px 0px 20px; border: solid 2px #000; border-radius: 5px; width: 580px; height: 30px; float: right; font-size: 14px; font-family: 'Aldrich', 'Armata', Monaco, Menlo, Consolas, Helvetica, Verdana, sans-serif}

input{padding: 0px 20px 0px 20px; border: solid 2px #000; border-radius: 5px; width: 650px; height: 30px; font-size: 14px; font-family: 'Aldrich', 'Armata', Monaco, Menlo, Consolas, Helvetica, Verdana, sans-serif}

input:focus{border: solid 2px #38628B; background-color: #BDC3C7}

.button{border-radius: 3px; border: 0px; width: 150px; background-color: #2F4A6F; color: #FFF; padding: 5px; font-size: 14px; float: right; font-family: 'Aldrich', 'Armata', Monaco, Menlo, Consolas, Helvetica, Verdana, sans-serif}

.button:hover{background:#38628B}

.button:focus{background:#38628B}

table tr td .errorlist{color: #C0392B;}
