    {% extends 'base.html' %}
    {% block content %}
      <div id="featured">
        <h1> 
          Bem vindo ao <br>EventeX 
        </h1> 
      </div>
      <div id="main">
        <p>O evento mais sensacionaldo ano depois do Dev in Rio!</p>
        <p>Você não pode perder esta oportunidade!</p> 
        <p><a href="{% url 'subscriptions:subscribe' %}" title="Inscrição"><span>Inscreva-se já!</span></a></p> 
        <p> 
          Para dúvidas e mais informações entre em contato com <a href="malito:eventex@eventex.com.br"><span>eventex@eventex.com.br</span></a> 
        </p>
      </div>
    {% endblock content %}
   